# ===============================
# Docker Compose Names
# ===============================
COMPOSE_PROJECT_NAME=project-name
MAIN=project-name-main
CLOUDFLARED=project-name-cloudflared
# docker network
DOCKER_NET=project-name-docker-net
############################################################
# ===============================
# Cloudflare Tunnel
# ===============================
TUNNEL_TOKEN=token-value
############################################################
# ===============================
# main
# ===============================
MAIN_PORT=8080
MAIN_PACKAGE_NAME=package-name
